body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 15px;
  background: greenyellow;
  width: 250px;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  font-size: 22px;
}
input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  /* border: 1px; */
  padding: 3px;
  font-size: 22px;
}
